@font-face {
    font-family: "Barlow";
    src: url('fonts/Barlow-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url('fonts/Barlow-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    background-color: white;
    font-family: "Barlow", sans-serif;
    color: #2A4A5C;
    line-height: 1.5;
}

.webpage {
    display: flex;
    overflow: hidden;
}

.left-container {
    width: 50%;
    flex-shrink: 0;
    background-color: #eff6ff
}

.left-container .website-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-image {
    position: absolute;
    top: 4rem;
    left: 4rem;
    width: 200px;
    height: auto;
}

.right-container {
    width: 50%;
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    min-width: 0;
    flex: 1 1 auto;
    padding: 4rem;
}

.content {
    height: 100%;
    padding: 4rem 2rem 4rem 2rem;
    }

h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.info {
    color: #7B8A92;
    margin-bottom: 4rem;
}

.register-buttons {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.btn {
    padding: 1rem 4rem;
    border: none;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    cursor: pointer;
}

.btn-logo {
    width: 1rem;
    height: auto;
    margin-right: 1.5rem;
    vertical-align: middle;
}

.fb {
    background-color: #255A9B;
    color: #FFFFFF;
    white-space: nowrap;
}

.ln {
    background-color: #0076B6;
    color: #FFFFFF;
    white-space: nowrap;
}

.submit {
    padding: 1rem 4rem;
    background-color: #3698FB;
    color: #FFFFFF;
    font-weight: bold;
    width: min-content;
    white-space: nowrap;
}

.divider {
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    margin-bottom: 2rem;
}

.divider .line {
    flex: 1;
    height: 1px;
    max-width: 95px;
    background-color: rgb(226, 223, 223);
}

.divider .text {
    padding: 0 10px;
    color: #96A5B1;
    font-weight: bold;
    font-size: 0.9rem;
}

.row-forms {
    display: flex;
    gap: 2rem;
    margin-bottom: 3.5rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    color: gray;
}

.input-group {
    flex: 1;
    border: 1px solid rgb(226, 223, 223);
    padding: 0.5rem;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    height: auto;
    padding: 0 0 0.5rem 0.25rem;
}

.input-group input::placeholder {
    font-size: 1rem;
    color: black;
}

.input-group input:focus {
    outline: none;
}

.input-group:has(input:focus) {
    border-left: 3px solid blue;
}

.investor-field {
    margin-bottom: 1.5rem;
    border: none;
    padding: 0;
}

h2 {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.select-investor {
    font-size: 0.90rem;
    margin-bottom: 5rem;
    color: #7B8A92;
}

.row-investor {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2.5rem;
    box-sizing: border-box;
    gap: 1rem;
}

.investor-wrap {
    flex: 1 1 0;
    min-width: 0;
}

.investor-option {
    margin-left: 0.3rem;
    cursor: pointer;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
}

.info-icon {
    font-size: 1em;
    color: rgb(207, 203, 203);
    cursor: help;
}

.info-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    font-size: 0.9rem;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgb(197, 196, 196);
    padding: 1rem;
    color: #a19f9f;
    transform: translateY(-100%);
    margin-top: -8px;
    white-space: nowrap;
}

.radio-outline {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #bdbfc0;
    border-radius: 70%;
    background-color: white;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    outline: none;
}

.radio-outline:checked {
    background-color: white;
    border: 6px solid rgb(1, 112, 238);
}

.description {
    margin-top: 1.5rem;
    max-width: 100%;
    width: auto;
    opacity: 0;
    font-size: 0.9rem;
    border-radius: 2px;
    box-shadow: 0 2px 20px rgb(204, 201, 201);
    padding: 0.5rem;
    color: #a19f9f;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: flex-start;
    white-space: normal;
}

.investor-wrap input:checked~.description {
    opacity: 1;
    max-height: 240px;
}

.terms {
    margin-bottom: 4rem;
    font-size: 0.95rem;
    color: #9ea0a1
}

.terms-agree {
    margin-right: 0.5rem;
}

.terms-link {
    margin-left: 0.25rem;
    color: #0076B6;
}